.container {
    background-color: snow;
    align-items: center;
}
.container .picturebox {
    height: 600px;
    width: 650px;
    background-image: url("https://docs.google.com/uc?export=download&id=1z7v7L46duWr022TC7xw8XCG0vXK7leOG");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 140px;
}
.navbar {
    background-color: white;
    height: 10%;
    display: flex;
    align-items:baseline;
    position: absolute;
    top: 625px;
    left: 100px;
    margin-left: auto; 
}
.navbar ul li {
    list-style: none;
    display: inline-table;
    margin: 0 20px;
   
}
.navbar ul li a{
    text-decoration: none;
    color: midnightblue;
    font-size: 18px;
}
.navbar ul li a:hover{
    border-bottom: 1px solid black;
    color: black;
    font-size: 22px;
}
.navbar ul li ul li {
    display: inline-flex;
}
.card_1 {
    position: absolute;
    top: 750px;
    left: 150px;
    background-color: chocolate;
    height: 350px;
    width: 700px;
}
.card_1 .pbox {
    height: 300px;
    width: 300px;
    background-image: url(../MeniImages/9001.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 25px;
    left: 25px;
}
.card_1 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: black;
    position: absolute;
    top: 10px;
    left: 385px;
    font-style: unset;
}
.card_1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    color: black;
    width: 250px;
    position: absolute;
    left: 345px;
    top: 65px;
}
.card_2 {
    position: absolute;
    top: 1150px;
    left: 150px;
    background-color: chocolate;
    height: 350px;
    width: 700px;
}
.card_2 .pbox {
    height: 300px;
    width: 300px;
    background-image: url(../MeniImages/halal.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 25px;
    left: 25px;
}
.card_2 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: black;
    position: absolute;
    top: 10px;
    left: 385px;
    font-style: unset;
}
.card_2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    color: black;
    width: 250px;
    position: absolute;
    left: 345px;
    top: 65px;
}